﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Backend.master.cs" Inherits="LicitarActual.Backend" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - My ASP.NET Application</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:BundleReference runat="server" Path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>
<body>
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="TableroMiEmpresa.aspx">
                        <span class="glyphicon glyphicon-home"></span>| LicitAR  </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li runat="server" id="ItemSeguridad" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><%=traducir("TitAdminSegu") %> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li runat="server" id="liAdminUsuario"><a href="AdminUsuarios.aspx"><%=traducir("TitAdminUsuario") %></a></li>
                                <li runat="server" id="liAdminPermisosGrupos"><a href="AdminPermisosGrupos.aspx"><%=traducir("TitAdminGrupos") %></a></li>
                                <li runat="server" id="liAdminBitacora"><a href="AdminBitacora.aspx"><%=traducir("TitAdminBitacora") %></a></li>
                                <li runat="server" id="liAdminBackup"><a href="AdminBackup.aspx"><%=traducir("TitAdminBackup") %></a></li>
                                <li runat="server" id="liAdminIdioma"><a href="AdminIdioma.aspx"><%=traducir("TitAdminIdioma") %></a></li>
                                <li runat="server" id="liAdminRecalcularDV"><a href="AdminRecalcularDigitosVerificadores.aspx"><%=traducir("TitAdminDigVer") %></a></li>
                            </ul>
                        </li>
                        <li runat="server" id="Li1" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><%=traducir("TitAdminNegocio") %><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li runat="server" id="liAdminOrg"><a href="AdminOrg.aspx"><%=traducir("TitAdminOrg") %></a></li>
                                <li runat="server" id="liAdminRubros"><a href="AdminRubros.aspx"><%=traducir("TitAdminRubros") %></a></li>
                                <li runat="server" id="liAdminClaseitem"><a href="AdminClaseItem.aspx"><%=traducir("TitAdminClaseItem") %></a></li>
                                <li runat="server" id="liAdminitem"><a href="AdminItem.aspx"><%=traducir("TitAdminItem") %></a></li>
                                <li runat="server" id="liAdminLicitacion"><a href="AdminLicitacion.aspx"><%=traducir("TitAdminLicitacion") %></a></li>
                                <li runat="server" id="liAdminSuscribirRubros"><a href="AdminSuscribirRubros.aspx"><%=traducir("TitAdminSuscribirRubros") %></a></li>
                                <li runat="server" id="liTableroLicitacion"><a href="TableroLicitacionesCompleto.aspx"><%=traducir("TableroLicitacion") %></a></li>
                                <li runat="server" id="liTableroMiEmpresa"><a href="TableroMiEmpresa.aspx"><%=traducir("TableroMiEmpresa") %></a></li>
                            </ul>
                        </li>
                        <li runat="server" id="Li2" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><%=traducir("TitAdminReporte") %><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li runat="server" id="liReporteLicitacionXRubro"><a href="ReporteLicitacionXRubro.aspx"><%=traducir("ReporteLicXRubro") %></a></li>
                                <li runat="server" id="liReporteOfertasItemsxCategoria"><a href="ReporteOfertasItemsxCategoria.aspx"><%=traducir("ReporteOfertasXCategoria") %></a></li>
                                <li runat="server" id="liReporteTop10Empresas"><a href="ReporteTop10Empresas.aspx"><%=traducir("ReporteTop10Empresas") %></a></li>
                                <li runat="server" id="liReporteTop10EmpresasOfertas"><a href="ReporteTop10EmpresasOfertas.aspx"><%=traducir("ReporteTop10EmpresasOfertas") %></a></li>
                                <li runat="server" id="liReporteLicitacionXEstado"><a href="ReporteLicitacionXEstado.aspx"><%=traducir("ReporteLicitacionXEstado") %></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="navbar-brand">
                                <asp:DropDownList ID="ddIdiomas" CssClass="form-control" runat="server" AutoPostBack="true" OnSelectedIndexChanged="ddIdiomas_SelectedIndexChanged">
                                </asp:DropDownList>
                            </a>
                        </li>
                        <li>
                            <asp:LinkButton ID="logout" OnClick="logout_Click" CausesValidation="false" runat="server">
                              <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Logout
                            </asp:LinkButton>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <hr />
            <footer>
                <p>&copy; <%: DateTime.Now.Year %> - LicitAR</p>
            </footer>
        </div>

    </form>
</body>
</html>
