﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Backend.Master" AutoEventWireup="true" CodeBehind="PermisoDenegado.aspx.cs" Inherits="LicitarActual.PermisoDenegado" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <div class="alert alert-danger">
        <asp:Label ID="lbldenegado" Text ="" runat="server"></asp:Label>
    </div>
</asp:Content>
